# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/
*.tsbuildinfo

# Turborepo
.turbo/

# Environment
.env
.env.local
.env.*.local

# Prisma local db
apps/api/prisma/*.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Coverage
coverage/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
